
body {
	padding:0;
	margin:0;
	font-family: "abril-text",serif;

}
.etsy{
	background: linear-gradient(to right bottom, #DBD2E0 50%, #fff 50%);
	width: 100vw;
	text-align: center;

}
.opening{
	padding: 100px;
	font-size: 60px;
	color:#444444;
	font-family: "sofia-pro",sans-serif;
	letter-spacing: 1.5px;
}
form{
	padding-top: 20px;
}
#submit, button {
	width: 180px;
	height: 50px;
	border-radius: 10px;
	background-color: #F78764;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:20px;
    -webkit-appearance: none;

}
.button{
	margin-top: 20px;
	border-radius: 50px;
	height: 100px;
	width: 100px;
	margin-left: 0px;
	padding: 0 px;
}
button a { 
	text-decoration: none;
	color: white;
	border-radius: 50px
}
#etsyQuery{
	height:30px;
	width:300px;
	font-size: 16px;
	padding: 4px;
}
#searchResults{
	text-align: center;
}
ul{
	display: inline-block;
	padding:0;
	margin:0;
	text-align: center;
}
li{
	display: inline-block;
	list-style-type: none;
	padding:25px;
	width:25%;
	vertical-align: baseline;

}
img{
	width:80%;
	padding-bottom: 20px;
}
.resultsText{
	padding:30px;
	font-size:30px;
	color:#444444;
}
.search{
	font-style:italic;
	font-size:45px;
	color: #F78764;
	font-family: "sofia-pro",sans-serif;
}
#arrow{
	display:none;
}
.arrow img{
	width: 4%;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	
}
.loadingGif, .loadingGif2{
	text-align: center;
	margin-top: -25px;
}
#loading img, #loading2 img{
	width:75px;
	
}
@media screen and (max-width: 800px) {
	li{
	width:45%;
	}
	.opening{
		font-size: 35px;
		padding: 20px;

	}
	#etsyQuery{
		height: 50px;
		margin-bottom: 20px;
	}
	#submit{
		margin-left: 0;
		width:200px;
		height: 65px
	}
	img{
		width:100%;
	}
	#searchResults{
		font-size: 20px;
	}
	#loading{
		margin-top:20px;
	}
	#loading img{
		width: 50px
	}
	.arrow img{
		width: 10%;
	}
}